<cs-task-page>
	<div class="container-fluid padding-left-15 padding-right-15"> 
		<div class="padding-left-15 padding-right-15">
			<h1>Tasks</h1>
			<hr>
			<div class="clearfix">
				<form name="frmAddTask" ng-submit="task.addTask()" class="col-sm-6">
					<div class="form-group">
						<div class="input-group">
							<input type="text"
								class="form-control"
								name="fldTaskTitle"
								ng-model="task.shell.strip.name"
								placeholder="enter a title and press enter" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-disabled="" ng-click="task.addTask()">
									<i class="fa fa-plus color-primary"></i>
								</button>
							</span>
						</div>
					</div>
				</form>
				<div class="col-sm-6">
					<ul class="nav nav-pills pull-right">
						<li ng-class="{'active':strip.mode==1}" title="list"><a href="#" ng-click="strip.mode=1"><i class="fa fa-list fa-2x"></i></a></li>
						<li ng-class="{'active':strip.mode==2}" title="thumbs"><a href="#" ng-click="strip.mode=2"><i class="fa fa-th fa-2x"></i></a></li>
						<li ng-class="{'active':strip.mode==3}" title="big thumbs"><a href="#" ng-click="strip.mode=3"><i class="fa fa-th-large fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="container-fluid padding-left-15 padding-right-15" id="taskList">
		<div class="row">
			<div class="padding-10">
				<cs-card-feed feed-items="task.items" feed-name="task.page"></cs-card-feed>
			</div>
		</div>
	</div>
<cs-task-page>