<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="sidebar.toggleSidebar()">
                Dashboard
                <span class="menu-icon fa fa-exchange"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
    </ul>
    <cs-transclude></cs-transclude>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular" target="_blank">
                Github
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
                About
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                Support
            </a>
        </div>
    </div>
</div>