<!-- Wrapper-->
<cs-app-admin class="row">

    <!-- Navigation -->
    <cs-app-sidebar class="col-md-2"></cs-app-sidebar>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <cs-app-main class="col-md-10">

        <!-- Page wrapper -->
        <cs-app-header></cs-app-header>

        <!-- Main view  -->
        <cs-app-content ui-view>
            <span>{{app.routeString}}</span>
        </cs-app-content>

        <!-- Footer -->
        <cs-app-footer></cs-app-footer>

    </cs-app-main>
    <!-- End page wrapper-->

</cs-app-admin>
<!-- End wrapper-->