<!-- Wrapper-->
<cs-app-admin id="wrapper" class="nopadding">

    <!-- Navigation -->
    <cs-app-sidebar></cs-app-sidebar>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <cs-app-header></cs-app-header>

        <!-- Main view  -->
        <cs-app-content ui-view>
            <span>{{app.routeString}}</span>
        </cs-app-content>

        <!-- Footer -->
        <cs-app-footer></cs-app-footer>

    </div>
    <!-- End page wrapper-->

</cs-app-admin>
<!-- End wrapper-->