@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "ag.grid";
@import "app.bootstrap";
@import "app.spaces";
@import "app.index";

$nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;
    
html, body {
    height: 100%;
}

body {
    background: $background-light;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

cs-app-admin {
     @extend .nopadding;

    
    cs-app-sidebar {
        @extend .nopadding;
        height: 100%;
        float: left;
        background-color: $background-dark;
    }
    
    cs-app-main {
        @extend .nopadding;
        height: 100%;
        
        cs-app-header {
            background-color: $background-light;
        }
        
        cs-app-content {
            @extend .nopadding;
            background-color: $background-light;
            // padding: 20px;
            height: 90vh;
            overflow-x: hidden;
            overflow-y: auto;
            display: block;
            
            cs-page {
                margin: 10px;
            }
        }
        
        cs-app-footer {
            background-color: $background-dark;
        }
    }
}

