@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~bootswatch/paper/_variables.scss";
@import "~bootswatch/paper/_bootswatch.scss";
    
html, body {
    height: 100%;
}

body {
    background: $background;
    font-family: "Open Sans", sans-serif;
}

main {
    overflow: hidden;
}

.cs-main {
    min-height: 90vh;
}

.cs-page {
    padding: 10px;
}

.cs-no-spaces {
    padding: 0 !important;
    margin: 0 !important;
}

// bootstrap overrides;   
.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar.navbar-static-top {
  margin-bottom: 0px;
  padding-right: 15px;
}