
<cs-page class="cs-organisation-page container animated fadeInRight">
	<div class="row">
		<div class="page-header">
			<h1>Page <small>manage Organisations</small></h1>
		</div>
	</div>    
	<div class="row">
		<div class="col-sm-6 col-md-8">
			<cs-organisation-grid></cs-organisation-grid>
			<cs-organisation-form></cs-organisation-form>          
			<cs-organisation-card></cs-organisation-card>
		</div>
		<div class="col-sm-6 col-md-4">
			<cs-organisation-list></cs-organisation-list>
		</div>
	</div>    
</cs-page>