
<section class="container-fluid cs-organisation-grid">
	<div class="row no-pad margin-bottom-10">
		<button class="btn btn-default" ng-click="vm.onGridRefreshOrganisation()">Refresh</button>
		<button class="btn btn-default btn-warning" ng-click="vm.removeOrganisation(vm.shell.organisation.selected[0])">Delete</button>
		<button class="btn btn-default btn-success" ng-click="vm.newOrganisation()">New</button>
	</div>
	<div class="row no-pad">
		<div ag-grid="vm.gridOptions" class="ag-fresh"></div>	
	</div>	
</section>